@use "sass:map";

$theme-colors: (
  "dark": #012b30,
  "light": #f8f9f9,
  "primary": #1f73b7,
  "info": #30aabc,
  "warning": #ed8f1c,
  "danger": #cc3340,
  "zd_kale": #17494d,
  "zd_teal": #02a191,
  "zd_mint": #299c66,
  "zd_royal": #7986d8,
);

.ease {
  transition: all 250ms ease-in-out;
}

.rotate-180 {
  transform: rotate(180deg);
}
