<!-- Content wrapper start -->
<div class="container-md">
    <h3 class="title">
        <code>Instructions</code>
    </h3>
    <div class="row">
        <div class="card shadow-lg w-lg-500 col">
            <h2 class="card-title text-white-dm">
                <a href="<%= newIncidentsPath()%>">Submitting an incident</a>
            </h2>
            <p>
                To submit your first incident, click the <code class="bg-dark-light-dm">Create New</code>&nbsp;dropdown
                button in the navigation bar. This will open up a form where you can break down exactly what happened.
            </p>
        </div>
        <div class="card shadow-lg w-lg-500 col">
            <h2 class="card-title text-white-dm">
                <a href="<%= newUsersPath()%>">Creating an user</a>
            </h2>
            <p>
                To submit your first user, click the <code class="bg-dark-light-dm">Create New</code>&nbsp;dropdown
                button in the navigation bar and then click the User button.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="card shadow-lg w-lg-500 col">
            <h2 class="card-title text-white-dm">
                Toggling Darkmode
            </h2>
            <p>
                To <b>enable</b> darkmode, click the&nbsp;<i class="fa fa-moon ml-5"></i>&nbsp;icon in the top right of
                the navigation
                bar.
            </p>
            <p>To <b>disable</b> darkmode, click the&nbsp;<i class="fa fa-sun ml-5"></i>&nbsp; icon in the same
                position.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="card shadow-lg text-extra-letter-spacing">
            <h4 class="card-title">
                About Hikeshi
            </h4>
            <p>
                Hikeshi is a security incident response application that keeps documenting incidents simple, so you can
                focus on fighting fires. The name comes from the firefighting system established in Japan during the Edo
                period
            </p>
            <p>Incident response involves a lot of "firefighting" in the sense that you're only called upon when
                something
                has gone very wrong. In high stress situations, it's nice to have a simple tool that assists you while
                you
                fight
                those fires.</p>

            <p>
                The UI is not cluttered. All the colors are easy on the eyes with darkmode support by default. It isn't
                feature packed, but it does exactly what it needs to while you handle the situations at hand.
            </p>
            <a href="https://en.wikipedia.org/wiki/Fires_in_Edo#Firefighting_organizations" class="btn-link">More on the
                Hikeshi</a>
        </div>
    </div>
</div>
