<div class="container">
    <div class="row justify-content-center mw-full">
        <div class="col align-items-center h-100">
            <div class="card bg-dark-light-dm border-0 text-center">
                <h1 class="title text-center p-5"><strong>Hikeshi</strong>&nbsp;Incident Response</h1>
                <img src='/assets/images/logo.svg' class="img-fluid rounded-top" style="height:250px;width:250px;"
                     alt="...">
                <%= if (current_user) { %>
                <br>
                <h2 class="content-title text-muted pb-20"></h2>
                <p class="text-body">
                    <%= linkTo(rootPath(), {class: "btn bg-white-dm text-dark-dm bg-dark-light-lm text-white-lm", body:
                    "Enter"})%>
                    <%= linkTo(authPath(), {class: "btn btn-link text-white-dm",
                    body: "Log out", data-method: "DELETE"})%>
                </p>
                <% } else { %>
                <br>
                <p>
                    <%= linkTo(newAuthPath(), {class: "btn btn-lg bg-white-dm text-dark-dm bg-dark-light-lm text-white-lm",
                    body: "Sign In"})%>
                </p>
                <% } %>

            </div>
        </div>
    </div>
</div>

